/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}
header, footer {
  background: #222;
  color: #fff;
  padding: 1em;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.gallery figure {
  background: #fff;
  padding: 1em;
  border-radius: 8px;
}
#modal {
  position: fixed;
  top:0; left:0; right:0; bottom:0;
  background: rgba(0,0,0,0.5);
  display: flex; align-items: center; justify-content: center;
}
.modal-content {
  background: #fff;
  padding: 2em;
  border-radius: 8px;
  position: relative;
}
.close {
  position: absolute; top: 0.5em; right: 0.5em; cursor: pointer;
  font-size: 2em;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

head {
  width: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;

  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
header a {
  text-decoration: none;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;

  width: 80%;
  padding-bottom: 10px;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
  padding-top: 15px;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login-submit {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* PAGE CONNEXION */

.connexion {
  width: 50%;
  padding: 10% 25%;
  display: flex;
  flex-direction: column;
}

.connexion h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.connexion h3 {
  margin: 20px 0;
}

.form {
  width: 100%;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: transparent;
  padding: 15px 0;
  margin-bottom: 30px;
  margin-top: 5px;
}

.button_connexion {
  width: 40%;
  background: #1d6154;
  border-radius: 60px;
  margin: 20px 30%;
  color: white;
  padding: 7px;
  border: 0px solid transparent;
  font-family: "syne";
  cursor: pointer;
}
.connexion a {
  text-align: center;
  color: black;
}

#login-submit {
  width: 40%;
  margin: 20px 30%;
  padding: 10px;
}

.filter {
  text-align: center;
  margin-bottom: 30px;
}

button.filter_element {
  min-width: 100px;
  padding: 10px;
  background: none;
  border: 1px solid #1d6154;
  border-radius: 60px;
  color: #1d6154;
  margin: 0 10px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.filter_element.active,
.filter_element:hover {
  color: white;
  background-color: #1d6154;
}

nav a {
  text-decoration: none;
  color: black;
}

#login-error {
  border: 2px solid red;
  padding: 10px;
  color: red;
  border-radius: 10px;
}

/* *** ** * MODALE * ** *** */

.modal_size {
  width: 70%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  margin: 0;
}

#titlemodal {
  font-family: "Work Sans";
  color: black;
  text-align: center;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 20px;
  background-color: #fff;
}

.modal_button_add {
  border-top: 20px black solid;
  width: 300px;
  padding: 10px;
  background: #1d6154;
  border: 1px solid #1d6154;
  border-radius: 60px;
  color: white;
  margin: 0 10px;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 30px 0;
  cursor: pointer;
  text-decoration: none;
}
#delete-gallery {
  color: #d65353;
  cursor: pointer;
  padding: 5px;
}
.modal-buttons {
  border-top: 2px solid grey;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: center;
  align-items: center;
}
#modal_projet {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;

  margin-top: 50px;
}
#modal_projet figure img {
  height: 100px;
  padding-right: 8px;
  padding-bottom: 2px;
}

#modal_projet figure {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.js-modal-close {
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
}

.fa-xmark {
  float: right;
}

.arrow-left {
  float: left;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  padding: 0;
  cursor: pointer;
}

/*  END MODALE */
.modify_text {
  color: black;
  text-decoration: none;

  margin-bottom: 10px;
  font-family: "Work Sans";
}

.modify_text_2 {
  color: black;
  text-decoration: none;
  padding-bottom: 15px;
  font-family: "Work Sans";
}
.modify_text_3 {
  color: black;
  text-decoration: none;
  font-size: 15px;
  padding-left: 20px;
  font-family: "Work Sans";
}
/* Modale page 2 */

.banner {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.banner_text {
  color: #fff;
  margin-right: 15px;
}

.banner_button {
  background-color: #fff;
  border-radius: 60px;
  border: none;
  padding: 4px 10px;
}

/* FORM ADD PICTURE */
.add_picture {
  height: 180px;
  background-color: #e8f1f6;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add_picture_modal {
  display: flex;
  flex-direction: column;

  height: 300px;
  background-color: #e8f1f6;
}

.form_add_picture {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 30px;
}
#modal2 input {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: white;
  height: 45px;
  margin-bottom: 20px;
}
#modal2 label {
  margin-bottom: 20px;
}

hr {
  background-color: grey;
  width: 100%;
  height: 1px;
  margin-top: 30px;
}

.button_add_picture {
  background-color: #cbd6dc;
  color: #306685;
  border-radius: 60px;
  margin: 20px 0;
  padding: 10px 31px;
  cursor: pointer;
  border: 0px;
}

.delete_button {
  position: relative;
  bottom: 110px;
  left: 49px;
  background-color: black;
  color: #fff;
  padding: 4px;
  font-size: 13px;
  cursor: pointer;
}

.arrow_button {
  position: relative;
  bottom: 110px;
  left: 5px;
  background-color: black;
  color: #fff;
  padding: 4px;
  font-size: 13px;
  cursor: pointer;
}

/* ICONES corbeille = <i class="fa-solid fa-trash-can"></i>
fleche haut bas gauche droite = <i class="fa-regular fa-arrows-up-down-left-right"></i>
/**/

.close-modal2-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.close-modal-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.arrow_left {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.fa-image {
  font-size: 50px;
  color: #cbd6dc;
}

.image_input {
  width: 100%;
  height: 200px;
  background-color: #e8f1f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-input {
  width: 100%;
  height: 51px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#category-input {
  width: 100%;
  height: 51px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: 0px;
}

.button_send_new_work {
  background-color: #a7a7a7;
  color: white;
  border-radius: 60px;
  margin: 20px 0;
  padding: 10px 31px;
  cursor: pointer;
  border: 0px;
}

.form_modal2 {
  display: flex;
  flex-direction: column;
}

.contain_modal2 {
  width: 70%;
  margin-top: 20px;
}

.preview {
  display: flex;
  justify-content: center;
}

#preview-input {
  position: absolute;
  height: 200px;
  width: 175px;
}

.preview_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
